body, html{
    overflow: hidden;
}

#canvasMain{
    top: 80px;
    border: none;
    position: absolute; 
    z-index: 0;
}

#canvasInfo{
    top: 90px;
    border: none;
    position: absolute; 
    z-index: 1;
}